:root {
  --card-primary-color: #800080;
  --card-secondary-color: #cfffff;
  --section-primary-color: #28044a;
  --section-secondary-color: #7cf278;
  --land-button-yellow: #fde047;
  --guide-link-color: #09abeb;
  --warm-yellow-color: #ffbb00;
  /* --switch-color: #eec249; */
  --primary-attention-color: #000000;
}
