:root {
  --card-primary-color: #800080;
  --card-secondary-color: #cfffff;
  --section-primary-color: #28044a;
  --section-secondary-color: #7cf278;
  --land-button-yellow: #fde047;
  --guide-link-color: #09abeb;
  --warm-yellow-color: #ffbb00;
  /* --switch-color: #eec249; */
  --primary-attention-color: #000000;
  --landing-background-color: #FFCAD4;
  --landing-button-color: #FF407D;
  --landing-text-color: #1B3C73;
  --soft-blue-color: #1B3C73;
  --soft-red-color: #FF407D;
}
