.v-enter-active {
    -webkit-animation: fade-out-fwd 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse;
    animation: fade-out-fwd 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse;
}

.v-leave-active {
    -webkit-animation: fade-out-fwd 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: fade-out-fwd 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes fade-out-fwd {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
}
@keyframes fade-out-fwd {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
}
